{% extends 'base.html' %}

{% block content %}
<h2>Productos en venta</h2>

<div class="productos-container">
    {% for producto in productos %}
        {% if producto.disponible %}
        <div class="producto-card">
                <h3>
                    <a href="{% url 'producto_detalle' producto.pk %}"> {{ producto.titulo }}
                </h3>
            {% if producto.imagen %}
                <img src="{{ producto.imagen.url }}" alt="Imagen de {{ producto.titulo }}" style="max-width:200px;">
            {% endif %}
            <p><strong>Descripción:</strong> {{ producto.descripcion }}</p>
            <p class="precio"><strong>Precio:</strong> ${{ producto.precio }}</p>
            <p><strong>Categoría:</strong> {{ producto.categoria.nombre }}</p>
            <p><strong>Vendedor:</strong> {{ producto.vendedor.username }}</p>
            <p><em>Publicado el {{ producto.fecha_publicacion|date:"d M Y" }}</em></p>
            </a>
        </div>
        {% endif %}
    {% empty %}
        <p>No hay productos disponibles en este momento.</p>
    {% endfor %}
</div>
{% endblock %}